@model Assignment4_Practice.Models.EF_Models.Rootobject



<h3 style="text-align:center"> Sample Live API Data Report for Tampa </h3>
<table border="1" style="border-style:solid">
    <thead>
        <tr>
            <th>Recall ID</th>
            <th>Report Date</th>
            <th>Product Name</th>
            <th>City</th>
            <th>State</th>
            <th>Product Quantity</th>
            <th>Company </th>
            <th>Recall Reason</th>
            <th>Product Distribution Locations</th>
            <th>Recall Classification</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.results)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.recall_number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.report_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.product_description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.city)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.state)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.product_quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.recalling_firm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.reason_for_recall)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.distribution_pattern)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.classification)
                </td>
            </tr>
        }
    </tbody>
    </table>

    <a asp-controller="Home" asp-action="PopulateTampaReports">
        <h6><b>Save this data your local database </b></h6>
    </a>











