@model Assignment4_Practice.Models.EF_Models.Rootobject



<table border="1">
    <thead>
        <tr>
            <th>Recall ID</th>
            <th>Report Date</th>
            <th>Product Quantity</th>
            <th>Company</th>
            <th>Recall Reason</th>
            <th>Product Distribution Locations</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.results)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.recall_number)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.report_date)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.product_quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.recalling_firm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.reason_for_recall)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.distribution_pattern)
                </td>
                
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Home" asp-action="PopulateTampaReports">
    <p><b>Save to the database</b></p>
</a>



<p> Here is a form where you may add a fictitious report to the Favorites Table in your local database:</p>
<form asp-controller="Home" asp-action="SaveFavorite" method="post">
    <select name="recall_ID">
        @foreach (var result in Model.results)
        {
            <option value=@result.recall_number>@result.recall_number</option>

        }

    </select>
    <br />
    Reason for Recall: <input type="text" name="reason" /><br />
    Product Name: <input type="text" name="product" /><br />
    Company Name: <input type="text" name="company" /><br />
    Product Country of Origin: <input type="text" name="country" /><br />

    <input type="submit" value="submit" />
</form>







